[2015-06-29 18:55] dechuck opened #1 "Improve test coverage"
Some functions are not tested properly.

- [ ] `User::update` (due to an issue with VCR)
- [ ] `Photo::create`
- [x] `AuthorizationUrl` with scopes

[2015-06-29 18:57] dechuck opened #2 "Add page information when retrieving multiple objects"
When a function returns an `ArrayObject` containing multiple objects, the page information should be available.

Some functions to retrieve the objects on the next page(s) could also be available.

[2015-06-29 18:59] dechuck opened #3 "Complete documentation"
The README is still missing some information about the different functionalities.

[2015-07-13 18:18] lukechesser commented on #3
@dechuck what info is currently missing?

[2015-07-13 18:18] lukechesser opened #4 "Add test coverage badge"
Setup codeship to run tests automatically when pushed and add the codeship badge to the README.

[2015-07-13 18:20] dechuck commented on #3
I need to add the pagination part I completed this morning.
Also, I'll need someone to correct my grammar mistakes.

I'll wait for the guys feedback to know if we need to add more information or if everything make sense.

[2015-07-13 18:20] lukechesser opened #5 "Add a link to the official documentation"
Add a link to the official Unsplash API documentation at https://unsplash.com/documentation

[2015-07-13 18:21] lukechesser commented on #3
I'm going to go through grammar now ;)

[2015-07-13 18:24] dechuck commented on #2
I added two functions to retrieve the page number for the next, previous, first and last page.
I also add a method to retrieve the current page number.

I'll wait for feedback to know if I should create method to retrieve the next page's objects.

[2015-07-13 19:42] #4 closed

[2015-07-14 20:27] dechuck opened #7 "Fix test in codeship"
Even if my cassette are present, codeship seems to want to do the request.

If I'm change my testing variable that set the api url from `api.lvh.me` to `api.staging.unsplash.com` my test seems to work, but codeship run the API call on his side, since the request uri change.

[2015-07-14 20:29] aaronklaassen commented on #7
I was actually about to bring this up, but all the URL's in `Provider` are referring to staging. Is that a (or *the*) bug?

[2015-07-14 20:35] dechuck commented on #7
So, for the `api.staging.unsplash.com` in the code, I'm waiting for the production release of the API to change that and release the version 1 of the wrapper.

I created a method that set the URI and Scheme, to be able to test more easily (https://github.com/CrewLabs/Unsplash-PHP/blob/master/src/HttpClient.php#L113), I realized that in codeship if my ENV_MODE is at test, and that the API_URI is ap

[2015-07-16 05:21] lukechesser opened #8 "Add a note about hotlinking"
Add a note encouraging hotlinking/embedding of images returned from the Unsplash API. Link to https://unsplash.com/documentation#hotlinking

[2015-07-16 05:22] lukechesser commented on #8
The messaging I used for the official documentation was:

[2015-07-20 02:06] dechuck commented on #7
I fix the issue. Php-VCR was matching all the request parts to know if it should use the cassette or not. So, I change the validation and I don't use the header to do the validation. Now it's work.

[2015-07-20 02:06] #7 closed

[2015-07-20 18:26] lukechesser commented on #7
Good change abstracting the `$host` out. I was gonna suggest that.

[2015-07-20 18:30] dechuck commented on #7
Actually, I was thinking to get rid of the host too.
So it would do the validation on the `method, url, body, query_string` + the custom matcher for the authorization header.

[2015-07-20 18:31] lukechesser commented on #7
Yeah, whatever you think works the best. But I remember making a note that `api.unsplash.com` shouldn't be repeated in every method, so this is definitely better 👍

[2015-07-20 18:33] dechuck commented on #7
This was fix 2-3 weeks ago :smile:
I use a environnement config now. The only place you could find it now, it's the cassettes.

[2015-07-31 19:19] #5 closed

[2015-07-31 19:20] dechuck opened #10 "Add stats endpoint"

[2015-08-26 19:17] #10 closed

[2015-09-01 13:26] freezy-sk opened #12 "PHP 5.4"
Hi
Are you planning to use some features introduced in PHP 5.5?
If not, what about lowering required version from `"php": ">=5.5.0"` to `"php": ">=5.4.0"` ?

[2015-09-01 14:54] dechuck commented on #12
Hi @freezy-sk

The main reason we use this version of PHP is because of `Guzzle 6.0`.
I'll see if we can support two version of Guzzle, depending of the PHP version.

I'll keep you updated.

[2015-09-02 13:08] freezy-sk opened #14 "PHP Fatal error: Unsupported operand types in ArrayObject.php on line 43"
Hi
I'm getting this fatal error when I'm accessing `totalPages()` of `Photo` collection returned by `User->photos()`

[2015-09-02 13:17] dechuck commented on #14
I'm looking at it this morning.

Thanks for the report.

[2015-09-02 16:41] dechuck opened #16 "Update .env.example to reflect VCR variables"

[2015-09-03 14:23] #14 closed

[2015-09-03 14:49] #16 closed

[2015-09-16 18:41] dechuck opened #17 "Implement random photo"
We can now retrieve a single, random, photo from the API.

https://unsplash.com/documentation#get-a-random-photo

[2015-09-17 12:05] freezy-sk commented on #17
@dechuck is there a possibility to set list of usernames or it works only for single one?

[2015-09-17 14:24] aaronklaassen commented on #17
@freezy-sk Only for a single username, unfortunately.

[2015-09-17 14:29] freezy-sk commented on #17
@aaronklaassen that's a pity :(

[2015-09-25 19:33] #17 closed

[2015-10-16 16:16] aaronklaassen opened #19 "Add 'like' support"
API now supports liking photos: https://unsplash.com/documentation#like-a-photo

[2015-10-16 18:04] lukechesser commented on #19
:tada:

[2015-10-20 18:06] #19 closed

[2015-12-14 01:56] sayanb opened #21 "API documentation link broken"
Hi,

This link https://github.com/CrewLabs/Unsplash-PHP/blob/master/official-documentation takes me to a 404.

Thanks,
Sayan

[2015-12-14 15:27] dechuck commented on #21
Hi @sayanb,

Thanks for reporting this issue, I'll fix it right away.
Don't hesitate if you have question about the wrapper or the API.

Thanks,
Charles

[2015-12-14 15:41] #21 closed

[2015-12-18 04:48] sayanb commented on #21
Thanks, Charles.

My aim is to use Unsplash\Photo::search() to search for a user-supplied string, loop through the results and for each of the photos, obtain the full, regular, small and thumb versions.

I've reached upto this point:

$photos = Crew\Unsplash\Photo::search($searchTerm);
$photos = $photos->getArrayCopy();

foreach($photos as $photo) {
    //?
}

Do you have methods to extract the in

[2015-12-18 16:21] dechuck commented on #21
Hi @sayanb,

`Crew\Unsplash\Photo::search` return an array of StdClass. So, in your foreach loop, you can retrieve the image paths by doing

[code]

You can find all the variables return by the API call [here](https://unsplash.com/documentation#photos).

I hope that answers your question :smiley:

[2016-02-01 07:16] zembrowski opened #23 "league/oauth2-client ~1.0"
Dear Crew-Team,

when is league/oauth2-client ~1.0 support planned?

I've got another composer package that requires league/oauth2-client in ~1.0 version and both 0.12 and ~1.0 can't be installed at the same time.

I started to define the missing abstract functions which was not difficult, but get stuck with the following error: Cannot access protected property Crew\Unsplash\Provider::$clientId in

[2016-02-01 14:15] dechuck commented on #23
Hey @zembrowski,
I will update the package today. I'll let you know when it will be done.

Thanks,
Charles

[2016-02-03 21:27] dechuck commented on #23
@zembrowski
I just open a PR with the new version of OAuth2-client. Don't hesitate to take a look before I merge it.
#24

[2016-02-03 22:41] zembrowski commented on #23
Awesome! Just tested it. Works for me.

Three things came to my attention:
1. There is no setScopes function in the Provider. So when you set Crew\Unsplash\HttpClient::$connection->getConnectionUrl(['public']); you'll get an error coming from line 32 of the Connection file.
2. Why is the default scope public and read_user?
3. Would it make sense to set the URIs in constants like in https://github.

[2016-02-03 22:53] dechuck commented on #23
@zembrowski
Thanks for the quick feedback.

I will fix the issue with the setScopes.
OAuth2-client did a lot of change in the last version, I miss this one. I'll make sure also to have a test for this issue.

I set `read_user` by default to be sure `getResourceOwner` from `League\OAuth2\Client\Provider\AbstractProvider` works out of the box, but I don't think it's necessary. I will remove `read_us

[2016-02-09 17:22] dechuck commented on #23
Thanks for your help @zembrowski
I merge the PR and update the version to `1.1.0`.

[2016-02-09 17:22] #23 closed

[2016-04-07 20:13] #3 closed

[2016-04-07 20:13] #2 closed

[2016-04-07 20:14] dechuck commented on #12
Since PHP 5.4 is deprecated, I will close this issue.

[2016-04-07 20:14] #12 closed

[2016-05-10 05:40] designdodo opened #35 "How to get all photos using http method ?"
Hello

I need to get all photos from unplash photo stock through HTTP request ..like
I tried to get all photos using this ... { https://api.unsplash.com/photos/?client_id=My_application_ID }..

Can u provide me easy method to get all using HTTP action..

[2016-05-10 13:52] dechuck commented on #35
Hey @designdodo,

This should help https://github.com/unsplash/unsplash-php#crewunsplashphotoallpage-per_page
It the wrapper method to fetch photos.

[2016-05-10 17:30] dechuck commented on #1
We are at 100% now

[2016-05-10 17:30] #1 closed

[2016-05-10 17:31] dechuck commented on #35
If you have more questions, don’t hesitate to contact us at `api[at]unsplash[dot]com`

[2016-05-10 17:31] #35 closed

[2016-06-26 07:40] taylankoca opened #37 "Having installation problem with composer because of guzzlehttp/guzzle version"
Here is the output

Problem 1
    - Installation request for crewlabs/unsplash ^2.0 -> satisfiable by crewlabs/unsplash[2.0.0].
    - Conclusion: remove guzzlehttp/guzzle 6.2.0
    - Conclusion: don't install guzzlehttp/guzzle 6.2.0
    - crewlabs/unsplash 2.0.0 requires guzzlehttp/guzzle ~6.1.0 -> satisfiable by guzzlehttp/guzzle[6.1.0, 6.1.1].
    - Can only install one of: guzzlehttp/guzzle[6.1

[2016-06-27 13:21] dechuck commented on #37
Hey @taylankoca,
Which version of PHP are you using?

[2016-06-27 13:42] taylankoca commented on #37
PHP 5.5.9-1

[2016-06-28 13:15] dechuck commented on #37
I'll  try to replicate the issue around the end of the day. I'll let you know when I'll find the issue.

[2016-06-28 13:17] dechuck commented on #37
Is it possible you install Guzzle 6.2.0 on an other project? Anyway, I'll update the guzzle dependency, it should fix your issue.

[2016-06-29 07:10] taylankoca commented on #37
That would be great. Thank you very much.

[2016-08-21 18:38] dechuck commented on #37
@taylankoca The last version of the package should fix your issue.

[2016-08-21 18:38] #37 closed

[2016-09-21 15:34] janhenckens opened #43 "Search options missing from /search/photos"
Now that /photos/search has been deprecated in favour of /search/photos, I was wondering if there are any plans on adding the existing parameters to the new endpoint. (in particular the orientation and category options)

Thanks
(Already working on a PR to add the new search endpoint to this library so wanted to ask before I submit the PR)

[2016-09-21 15:47] lukechesser commented on #43
Hey @janhenckens great question and thanks for contributing back :)

Categories are deprecated too, since they're not a part of product strategy going forward (as they've been replaced by collections) and require a lot of upkeep to maintain.

As for orientation, right now we don't have any immediate plans to add it, but I could definitely see us adding it at some point in the future, as well as a

[2016-09-21 17:11] janhenckens commented on #43
That helps :) I'll drop category search from the plugin I'm currently building.
I'm having some issues with the response from the new point and how it differs from the others in the php library but I'll open a new issue for that.

Cheers
Jan

[2016-09-21 17:11] #43 closed

[2016-09-22 19:52] janhenckens opened #44 "/search/photos response data"
I'm adding a class for the new /search/response endpoint (here's what I have so far https://github.com/janhenckens/unsplash-php/commit/a594aefb5f4887109b9ec504407eaed383cec9b9) and the data I'm receiving back appears to be different from the other endpoint.

By which I mean that passing it through the ArrayObject class gets me a different object structure then for example the /photo/curated endpoi

[2016-09-28 16:47] janhenckens commented on #44
Hey crew! Has anyone had a chance to take a look at this?
I'd like the finish the plugin I'm building and this is a blocking issue...

Thanks for getting back to me!
Jan

[2016-09-29 15:08] aaronklaassen commented on #44
Hey @janhenckens - sorry about the wait, here. Yes, the search endpoints have a slightly different response format than the regular photo index ones. You can see an example in the documentation here: https://unsplash.com/documentation#search

If you have any more questions you can find me at api@unsplash.com.

[2016-09-29 15:08] #44 closed

[2016-12-05 13:24] mabbouxj opened #45 "fresh up the doc"
If you use magic methods in your "Endpoint" class, please add some info about which parameters are available.

thank you.

[2016-12-05 15:08] lukechesser commented on #45
Hey @mabbouxj, thanks for the feedback. Feel free to help add more documentation if you think it needs it.

[2016-12-05 15:08] #45 closed

[2016-12-14 04:38] riza2359 opened #46 "The path of a URI with an authority must start with a slash "/" or be empty"
Hi, I got InvalidArgumentException in Uri.php line 693:
The path of a URI with an authority must start with a slash "/" or be empty

This is my code:
[code]

This is composer.json:
[code]

PHP -v:
`PHP 7.0.9 (cli) (built: Aug 26 2016 06:17:04) ( NTS )`

And the error stack:
[code]

Is my implementation wrong?

[2016-12-14 08:34] dechuck commented on #46
Hi @riza2359,
I will take a closer look later in the day.

[2016-12-16 04:17] riza2359 commented on #46
Hi @dechuck, sorry to bug you, did you manage to look at the issue?

[2016-12-19 20:42] dechuck commented on #46
Hey @riza2359,

I wasn't able to reproduce the issue, on both php 5.6 and php 7.1
Do you have more information?

cc. @aaronklaassen

[2016-12-22 11:03] riza2359 commented on #46
Hi, can help clarifying what other information I should provide?

I'm using Laravel and I'm trying to do this:

[code]

I don't pass the app secret because I only want to retrieve public photos. Currently I can get it work by bypassing the SDK with this code:

[code]

OS using macOS sierra.

[2017-01-09 09:55] taduuda opened #47 "Wrong rate limit values"
Hi, I'm getting some odd values when checking my rate limits in PHP.
![bildschirmfoto 2017-01-09 um 10 44 38](https://cloud.githubusercontent.com/assets/17167062/21762560/9fd725dc-d659-11e6-8aac-06d367a16170.PNG)

These are the functions I am using:
[code]

[code]

Any idea on what's going wrong?

[2017-01-09 16:06] aaronklaassen commented on #47
@tatuuda Yeah this is a known issue on the backend. You're not doing anything wrong. I'm going to close this issue because it's not a problem with `unsplash-php`, but don't worry we're working on it on our side. 😄

[2017-01-09 16:06] #47 closed

[2017-01-09 22:04] taduuda opened #48 "Crew\Unsplash\Exception with error message: []"
Hi, I'm (still) getting a lot of Exceptions with an empty error message from the api. I've already had over 130 of these errors this month. Here is the error information I get:
[code]

I'm using a modified $user->likes function that allows me to use the 'order_by' parameter:
[code]

And here is the function that is using this modified $user->likes function:
[code]

The last piece of the puzzle is

[2017-01-13 20:59] aaronklaassen commented on #48
@taduuda What's the http response code you get with your "edit no 2" code? It's `200 OK`, right?

[2017-01-13 21:27] taduuda commented on #48
@aaronklaassen Yes. Test ran 871 times today, got 200 and 30/30 photos every single time.

[2017-01-17 12:43] taduuda commented on #48
I've written a custom wrapper that adds the HTTP status code to every exception. Getting some 403s and 500s.
[code]
[code]

[2017-01-17 20:44] aaronklaassen commented on #48
Are those 403's `Rate Limit Exceeded`?

[2017-01-17 21:53] taduuda commented on #48
I don't know if they are. Wouldn't that be in the error messages though?
I do know that all my applications are well within their rate limits. Is it at all possible that this issue is related to the incorrect rate limit return values? That would at least explain the 400's.

[2017-01-18 20:22] aaronklaassen commented on #48
@taduuda Yeah that's what I'm wondering.

Regardless though you're right: this is a bug; should be getting an error message.

[2017-01-18 21:47] taduuda commented on #48
Getting the error messages to work might reveal the source of the problem. Let me know if you find anything or need any further info.

[2017-02-23 21:58] Koshelenok commented on #46
Hello.

I have the same issue. Exception in a Uri.php when calling static method "all" in class Photo. At the first params sending string "photos" and then

The path of a URI with an authority must start with a slash "/" or be empty.

[2017-02-23 23:37] tangod0wn commented on #46
Same issue as well, to do with BLOB storage.

no fix yet - if I figure it out will post what I did.

[2017-02-26 09:59] krisnaw commented on #46
Hi, I'm having the exact same issue on Laravel 5.4. Any updates about this?

[2017-02-27 01:21] aaronklaassen commented on #46
Hey folks. Sorry for the delay here. I'll take a look asap.

[2017-03-02 22:45] treeleaf commented on #46
It's caused by an update in guzzle client that a uri must start with a leading / or be empty. I have added it in a pull request..
https://github.com/unsplash/unsplash-php/pull/49/commits/590bb78551cc83c0f67465beb1df6f3073cfeb98

[2017-03-07 16:49] #46 closed

[2017-03-07 16:56] aaronklaassen commented on #46
^ Fix is available in `v2.3.0`

[2017-03-07 18:09] taduuda commented on #48
Any news on this? I'm still getting some 503s on two different servers.

[2017-03-07 18:19] lukechesser commented on #48
@taduuda @aaronklaassen any way to know if these are non-JSON responses being returned by the API?

Fastly sits between our API and can return HTML 503 responses on rare occasions where the backend times out. Our configuration is _supposed_ to be such that a response should always occur, whether it's a timeout 500 JSON response from the API or the actual response, before Fastly's timeout can kick

[2017-03-07 21:55] fbstim commented on #48
Just found this issue-- I've been using the API for the first time today, and it worked fine in the morning, but after lunch has been failing to find a (public) collection and throwing a `403` error with `[]` as the error message. I am pretty sure I'm not exceeding the rate limit since I'm just submitting requests by hand for testing.

[2017-03-07 22:29] lukechesser commented on #48
@fbstim hmm, the previous 403 errors that @taduuda was getting were solved. Want to shoot us an email at api@unsplash.com?

[2017-03-14 17:03] The4Syndicate opened #51 "Everything is Private"
After authenticating and running Unsplash\Photo::all(1, 30) it returns an ArrayObject in which everything is private. Can't access any of the properties.

[2017-03-14 18:54] aaronklaassen commented on #51
@The4Syndicate Which private properties are you looking to access? There are public accessor functions available.

[2017-03-14 20:33] The4Syndicate commented on #51
What are the functions for this?

private 'storage' (ArrayObject) is what I'm trying to access on any request of the Photo class.

[2017-03-14 21:31] aaronklaassen commented on #51
Do you mean you're trying to access the `Photo` objects in the return value? It extends [ArrayObject](http://php.net/manual/en/class.arrayobject.php) - you can access its elements just like any other array:

[code]

I'm going to close this issue as this isn't the place for support. If you have any more questions though feel free to contact me at api@unsplash.com

[2017-03-14 21:31] #51 closed

[2017-03-21 19:48] #48 closed

[2017-04-05 18:49] aaronklaassen opened #58 "Send UTM params"
@lukechesser @HughbertD

These days the API terms have this requirement: https://community.unsplash.com/developersblog/unsplash-api-terms-explained#block-yui_3_17_2_1_1490972762425_202608

But without being able to send arbitrary query params via the lib, clients can't do that. Since it should be attached to *every* request anyway, maybe the best way to do this is to make the `utm_source` value pa

[2017-04-06 13:18] HughbertD commented on #58
@aaronklaassen If the user hasn't given their utmSource, do you want the links to either fall to a default and generate something like:
`?utm_source=nottracked&utm_medium=referral&utm_campaign=api-credit`

Or skip adding UTM parameters entirely? Wondering if _some_ data is better than none.

[2017-04-06 16:27] aaronklaassen commented on #58
@HughbertD Good question. I'll get back to you.

[2017-04-06 16:38] aaronklaassen commented on #58
@HughbertD Yeah put a placeholder value in - `api_app` works.

[2017-04-07 03:53] lukechesser commented on #58
@aaronklaassen good thinking on this 👍

[2017-04-07 08:26] #58 closed

[2017-04-24 09:30] brusch opened #60 "Update to `league/oauth2-client` ^2"
Would be good to utilize the latest major branch of `league/oauth2-client` to avoid dependency issues with other packages.

[2017-04-24 21:43] 20k-ultra opened #61 "Photo::search using deprecated endpoint"
I'm seeing a warning that says:

`The photo search endpoint is deprecated. Use the new search endpoint instead. See: https://unsplash.com/documentation#search`

Still getting results though.

[2017-04-24 22:17] lukechesser commented on #61
Ah yeah thats normal.

The old search API endpoint is deprecated and we encourage people to use `Search::photos()` instead. It looks like we need to update the README documentation though to list that and remove the documentation on the deprecated methods.

[2017-04-24 22:18] lukechesser opened #62 "Add documentation for Search::X methods"
Since `Crew\Unsplash\Photo::search` is deprecated, we need to add documentation for the Search methods:

[code]

[2017-04-24 22:19] lukechesser opened #63 "Remove documentation for deprecated methods"
If a method is deprecated, we should remove it from the README so it doesn't confuse developers.

[2017-04-24 22:19] lukechesser commented on #63
@aaronklaassen agree?

[2017-04-24 22:19] lukechesser commented on #61
Closing in favour of #62 #63

[2017-04-24 22:19] #61 closed

[2017-04-25 00:40] aaronklaassen commented on #63
@lukechesser Yeah absolutely.

[2017-04-25 00:43] #62 closed

[2017-04-25 00:43] #63 closed

[2017-08-14 02:21] JamesHesterJr commented on #60
Is there any internal ambition to do this?

[2017-08-15 19:31] lukechesser commented on #60
If you want to raise a PR, I think it would likely get merged. Sounds like there's support for it!

[2017-09-14 18:47] paulm17 commented on #60
I really need this, so I'm gonna fire off an email to support.

[2017-09-14 18:49] JamesHesterJr commented on #60
Let me know if you need help with it. I could use it and might have the time to do it.

[2017-09-14 18:50] paulm17 commented on #60
I asked them if this was all that was needed...

https://github.com/unsplash/unsplash-php/blob/master/composer.json#L19

Changing "league/oauth2-client": "1.4.2", to "league/oauth2-client": ">=2.2.1", ?

[2017-09-15 08:31] paulm17 commented on #60
Seems like that's the first line is the only change.

I have 2.0 working, by hacking the process.  I installed with oauth2-client on it's own and then moved it to a directory elsewhere.

Then do the actual installation with all the packages I need with oauth2-client version 1.  After that, rename veraion 1 to oauth2-client-1.4.2 in the league directory under vendor.  Copy in version 2 from elsewhe

[2017-09-15 08:37] paulm17 commented on #60
Oh and another reason for updating...  You need to, when upgrading to PHP 7.

https://github.com/thephpleague/oauth2-client/issues/650

[2017-09-24 02:46] JamesHesterJr commented on #60
So I finally got around to looking into this. and as far as I can tell, it's actually just a tiny issue with the versioning. The league/oauth2-client package requires version ^1 which prevents v2 from working, but in fact it is capable of working with v2. I submitted a PR with explanation to get this fixed. The composer.lock used (and used with testing) actually uses V2 of the oauth2-client librar

[2017-09-26 08:20] dleigh opened #66 "New to composer install - having problems"
1st time doing a composer install.  Shared hosting environment.  I got the following message and cruising forums about composer installs and modifying composer.json didn't really help me - probably because I'm a newbie.  So with the following message what should I do next?
[code]

[2017-09-26 15:25] lukechesser commented on #66
Hey sorry @dleigh I'm not super sure either, but for questions, stackoverflow is your best bet. We have to reserve this for issues related to the code itself.

[2017-09-26 15:25] #66 closed

[2017-10-04 15:19] aaronklaassen commented on #60
Hey folks sorry this took so long to get to - but you should be good to go with `v2.3.3`.

[2017-10-04 15:29] paulm17 commented on #60
Doesn't seem to work for me.

    Problem 1
	    - Installation request for crewlabs/unsplash 2.3.3 -> satisfiable by crewlabs/unsplash[2.3.3].
	    - crewlabs/unsplash 2.3.3 requires league/oauth2-client 1.4.2 -> satisfiable by league/oauth2-client[1.4.2] but these conflict with your requirements or minimum-stability.

Looking at the PR:  https://github.com/unsplash/unsplash-php/pull/67/commits/7

[2017-10-04 16:05] aaronklaassen commented on #60
@paulm17 Ah dammit. Yeah I'll take another look.

[2017-10-04 16:14] paulm17 commented on #60
I posted above what I think the solution should be.  Happy to test when you update it again.

[2017-10-06 18:53] #60 closed

[2017-10-11 14:53] danyj opened #69 "How to get photo API url by its download name?"
Sorry if I am posting in a wrong git but cant seem to find a place to ask this.
It is a great API but a huge thing has been missed by the devs.
When you click on download image you get the image with a name that is mixed with user real name and some ID ,

for  example if you go here   https://unsplash.com/photos/pTgMXg2WrHY
and click on download

you get  image by name ` nathan-anderson-268995.jpg

[2017-10-11 16:12] lukechesser commented on #69
Hey @danyj. Hmm, good point. We haven't come across anyone looking to do that before but it does make sense.

I'll add a feature request for the API team to look into supporting this.

[2017-10-11 16:13] #69 closed

[2017-11-16 17:41] derweili opened #71 "Curl Error 35"
When searching for some photos using
`$photos = \Crew\Unsplash\Search::photos('Love', 1, 30);`
i receive following error on my local mamp server:

Fatal error: Uncaught GuzzleHttp\Exception\ConnectException: cURL error 35: error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in /Users/julian-weiland/instabot/vendor/

[2017-11-22 15:41] apapazisis opened #72 "Collection Retrieve Photos"
$collection = Crew\Unsplash\Collection::find(integer $id);
    $photos = $collection->photos($page, $per_page);

The retrieve photos of a collection returns an ArrayObject. Please make it to return a PageResult as you have at Search::photos as an example

[2017-12-12 07:27] roelvanduijnhoven opened #76 "2.4 requires packages of state dev-master"
The first problem is that I cannot update without changing the [minimum stability](https://getcomposer.org/doc/04-schema.md#minimum-stability).

The second problem is that every download of this repo will potentially result in a different version of that dev-master library. That is because libraries do not utilize a lock-file.

Error breakdown on my project:

[code]

I'll stick on 2.3 for now :).

[2017-12-12 16:55] lukechesser commented on #76
Thanks for letting us know @roelvanduijnhoven. I'm not super familiar with the PHP ecosystem, so will try to work through this.

@HughbertD can we update the stability of `oauth-2-unsplash`? Would that solve one of the problems here?

[2017-12-13 08:16] roelvanduijnhoven commented on #76
@lukechesser @HughbertD If oauth2-unsplash cuts a new release, and we depend on that; that would solve both problems.

The move to `dev-master` was made to facilitate https://github.com/unsplash/unsplash-php/issues/60 it seems.

[2017-12-13 10:41] HughbertD commented on #76
@roelvanduijnhoven @lukechesser

Could we just change the dependency in this repo's composer.json to:
`"hughbertd/oauth2-unsplash": ">=1.0.2"`

[2017-12-13 16:12] lukechesser commented on #76
@HughbertD I have no idea haha. Whatever you guys think works

[2017-12-13 18:26] roelvanduijnhoven commented on #76
Sorry @HughbertD only now saw your reaction on this issue.

That would work, but would mitigate the work done for #60 it seems. The newer commit https://github.com/HughbertD/oauth2-unsplash/commit/bfa14ffabd46c6fdb33eeeaff709a946e1399ea3 is necessary for that. And that commit is not on in the latest release.

So a new minor release of oauth2-unsplash to 1.0.3 would be all we need :).

Thanks.

[2017-12-13 19:47] HughbertD commented on #76
The commit you mentioned is in the 1.0.2 version. (https://github.com/HughbertD/oauth2-unsplash/compare/1.0.2...master)

Would you like me to either:

- `composer update nothing`
- `composer update`

to generate a new lock file and release this as a new version?

btw, feel free to make PRs against the repo if you have a suggested fix. :)

[2017-12-14 07:32] roelvanduijnhoven commented on #76
Mm. I only now see that both these repos' use a lock file. A lock function has no purpose when somebody consumes it. So I would suggest removing it; this is wat most libraries do. Thus PR https://github.com/roelvanduijnhoven/oauth2-unsplash/pull/1 and https://github.com/roelvanduijnhoven/unsplash-php/pull/1.

You can browse the tree at 1.0.2. here: https://github.com/HughbertD/oauth2-unsplash/tree

[2017-12-14 13:10] HughbertD commented on #76
Thanks, think I was getting the wrong end of the stick here.

[2017-12-14 13:15] HughbertD commented on #76
Hi @roelvanduijnhoven

I've updated oauth-unsplash with a new release (1.0.3) and packagist is showing the correct dependency requirements here: https://cl.ly/1C3M3t020B13

@lukechesser I think we can close this down now

[2017-12-14 13:50] roelvanduijnhoven commented on #76
Thanks! I created a new PR that makes use of this :).

[2017-12-15 18:10] lukechesser commented on #76
Thanks @HughbertD and @roelvanduijnhoven <3

[2017-12-18 07:37] roelvanduijnhoven commented on #76
Thanks @lukechesser. Could you make a new release 2.4.1 with this in it?

After that I can update my app to trigger the Download end-point :).

[2017-12-19 09:51] #76 closed

[2017-12-19 09:56] roelvanduijnhoven opened #80 "Download endpoint not called async"
In the medium post I read:

However the download endpoint is not async. See: https://github.com/unsplash/unsplash-php/blob/master/src/Photo.php#L204. In fact: it has a return value. Thus if I would add this call; this would now indeed slow down the user experience a little bit.

Is the behaviour in this repo intended? I would suggest introducing a new method `asyncDownload` that does precisely tha

[2017-12-19 18:06] lukechesser commented on #80
This is the intended behaviour currently. We could definitely add an async download method though — I'm open to it.

In the API Guidelines, we're referring to the fact that we've found that it's best to call it async, but we didn't prescribe that in the library, because there are lots of ways to make an async call, like using workers or relying on the download call being made client-side.

[2017-12-20 07:32] roelvanduijnhoven commented on #80
Thanks @lukechesser

[2017-12-20 07:32] #80 closed

[2017-12-20 13:25] roelvanduijnhoven commented on #80
Gave it a go, but in the end this cannot be done properly using PHP. https://github.com/guzzle/guzzle/issues/1127

[2017-12-27 23:28] #71 closed

[2017-12-27 23:29] lukechesser commented on #72
@apapazisis thanks for reporting. If you have time, feel free to PR a change that ensures backwards compatibility

[2018-01-26 12:59] winternet-studio opened #83 "Bad error message when photo ID is missing"
If you do the following code:

[code]

This is of course a bad ID argument for the find() method but I did this by mistake and it took a while before I realized the issue because the only error message I got was this:

[code]

Would be nice if this could be caught and notified clearly.

[2018-01-26 18:05] lukechesser commented on #83
@winternet-studio good point. Agree that we should catch that behaviour early and throw a more helpful error.

[2018-03-21 08:46] ArmeniaH opened #87 "Error message missing"
Hey there

From time to time we are getting bad responses when doing

```\Crew\Unsplash\Search::photos('life', 1, 20);```

And we are getting status code out of this range

```return $response->getstatusCode() >= 200 && $response->getstatusCode() < 300;```

so we are getting an exception, but when we log it, we see the following

```Crew\Unsplash\Exception: [] in /app/vendor/crewlabs/unsplash/src/

[2018-03-21 12:33] ArmeniaH commented on #87
Tried to reproduce, and was able to get the status code, which is 503

[2018-03-21 12:35] ArmeniaH commented on #87
Was also able to get the body of the guzzle response

<?xml version="1.0" encoding="utf-8"?>\n
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"\n
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\n
<html>\n
  <head>\n
    <title>503 first byte timeout</title>\n
  </head>\n
  <body>\n
    <h1>Error 503 first byte timeout</h1>\n
    <p>first byte timeout</p>\n
    <h3>Guru Mediation:</h3

[2018-03-21 12:38] ArmeniaH commented on #87
<img width="667" alt="screen shot 2018-03-21 at 4 37 02 pm" src="https://user-images.githubusercontent.com/4003433/37710146-36e17b70-2d26-11e8-85ef-c79a13a369cb.png">

Seems like the problem is with your services, this is impacting our live production, any news on this?

[2018-03-22 01:45] aaronklaassen commented on #87
@ArmeniaH Yes, this was a problem with our API availability. You can track that via https://status.unsplash.com.

[2018-03-22 01:45] #87 closed

[2018-03-22 07:57] ArmeniaH commented on #87
Still the code can be changed to detect this case and return corresponding error instead of empty message. Anyway, thanks for the response!

[2018-04-24 12:26] Xionax opened #92 "Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method."
When i'm trying to use oath authentication I keep getting this error.
I have really no clue what is going wrong.

[code]

I'm using the script mentioned in the example folder. Specified:

[code]

[2018-04-24 15:43] aaronklaassen commented on #92
It looks like you're using the numeric ID as `applicationId`. It should be your 64-character access key.

We'll update the docs to make that more clear.

[2018-04-24 15:43] #92 closed

[2018-04-25 19:29] Xionax commented on #92
Yeah in the API screen on the website its called Application ID.
However when using the accesscode instead it gives me a new error:

[code]

[2018-04-25 19:37] aaronklaassen commented on #92
Yeah you're right about the confusion; we'll be fixing that.

This isn't an `unsplash-php` issue - can you send me some more details? You can get in touch with us at api@unsplash.com.

[2018-04-25 19:39] Xionax commented on #92
I think I already solved it.

On https://github.com/unsplash/unsplash-php/blob/master/examples/oauth-flow.php (line 11) it shows a custom link. On line 26 and 44 those are different. So that made me think I only needed to change the first callbackurl. However when changing the others to the same as line 11 it seems to work.

[2018-04-25 19:59] Xionax commented on #92
However i'm struggling getting it to work. Would be great if I had some real-world examples. So far I failed with even doing a simple search. Might be mainly because my object-orientated programming skills are limited. So It would help me alot to have some good examples on basic tasks.

[code]

No luck so far...

[2018-04-25 20:01] aaronklaassen commented on #92
@Xionax OAuth problems are almost always that there's a mismatch in your requests: everything must match: key and secret, redirect URI, requested scopes, etc. I can help you via email.

[2018-04-28 13:12] daniellienert opened #93 "Using only the public permission scope actions without oAuth API does not work as expected"
While the manual states:

This is is not working for the reason that in `Connection::getAuthorizationToken` the ClientId is passed as Client-ID but the Access Key should be passed according to https://unsplash.com/documentation#public-actions

[2018-04-28 20:44] daniellienert commented on #93
Setting the AccessKey as value of `applicationId`does the trick.

[2018-04-28 20:44] #93 closed

[2018-08-21 16:35] kilicpl commented on #8
I'm sorry for the question  but the concept s a little unclear to understand for starters. So for this hotlinking necessity should we add some extra code or anything like that? I use one random image everytime when app starts in an android app. Should I now add anything more for it to be valid, thank you

[2018-08-21 18:46] lukechesser commented on #8
@kilicpl no worries. There's no extra code you need to add to hotlink. If you use the images that are returned by the API, and don't duplicate them onto your own S3 bucket or hosting, then you'll be hotlinking.

It's explained here: https://medium.com/unsplash/unsplash-api-guidelines-hotlinking-images-6c6b51030d2a

[2018-08-21 19:13] kilicpl commented on #8
Thank you very much sir. Kindly can I ask you two more questions I believe it maybe helpful for people in my position. To be able to apply the production:
1)for "Trigger downloads": Should we supposed to make the images downloadeble in our app , what if we dont make them downloadeble. Is that possible?
2)for "Attribute photographer and Unsplash": This s a hard one I guess. For java starters how ca

[2018-08-21 19:55] lukechesser commented on #8
@kilicpl these both depend on what you're building. Shoot us an email at api@unsplash.com and we can help there 👍

[2018-10-15 07:46] aaronklaassen opened #95 "Remove support for PHP versions < 7.1"
[Our dependencies are starting to our grow our old PHP version tests](https://travis-ci.org/unsplash/unsplash-php/builds/289572262?utm_source=github_status&utm_medium=notification), and the versions we're currently testing against (5.6 and 7.0) are nearing EOL anyway.

https://secure.php.net/supported-versions.php

[2019-01-25 06:27] FrankDiao opened #96 "Photo类的parameters属性的权限为什么是private？这导致我调用Photo::all方法后无法取出数据"
Endpoint类中$parameters属性为什么是private？
我调用Photo::all方法后得到的数据都在parameters属性中，并且由于parameters属性的权限是private导致我无法取出数据。

[2019-01-25 17:58] aaronklaassen commented on #96
You can access properties of a `Photo` object using the `->` operator.

[2019-01-25 17:58] #96 closed

[2019-03-05 21:38] franciscobern opened #99 "Doubt in the Endpoint class"
Should the parameter attribute in the class Endpoint be private anyway? If yes, which method returns the list of photos?

[2019-03-22 22:12] aaronklaassen commented on #99
@franciscobern Yes, it is intended to be private; you can access `Photo` object attributes using the `->` operator.

[2019-03-22 22:12] #99 closed

[2019-08-03 14:58] RoqueCampos opened #100 "How to find the information for the attribution"
Hi!

I'm not sure if I'm missing something, but I'm not able to find the information of the photographer for the attribution.

WHen getting a random photo, I call photo->download() and with that I get a download link. Thats fine. When calling photo->photographer(), the only information insider is the username.

I used the username to retrieve the User object, but again, inside there is not informa

[2019-08-05 14:20] lukechesser commented on #100
@RoqueCampos when I fetch the JSON from the API, it has the full photographer details available on the random endpoint:

[code]

[2019-08-12 14:38] ronaldjesse opened #101 "Issue with ArrayObject and private $parameters within Endpoint"
Hello,

I'm creating an API layer using unsplash-php package and our CMS frontend / backend and found it impossible to return a json string.

I've got some issues trying to json_encode the ArrayObject object. I've tried using ArrayObject::getArrayCopy(); but it still returns Crew\Unsplash\Photo which is impossible to json_encode as the $parameters attribute is private.

Of course I could format th

[2019-08-12 22:13] lukechesser commented on #101
@ronaldjesse hmm yeah that makes sense. Thanks for bringing this up. We'd definitely accept a PR — my PHP skills are pretty lacking these days 😬

[2019-08-15 14:13] #101 closed

[2019-08-15 14:14] lukechesser commented on #100
@RoqueCampos does #102 change anything/help?

[2019-11-04 16:16] Dayjo commented on #72
Just plus oneing my desire for this issue to be resolved too. 👍

[2019-11-21 18:39] th4deu opened #103 "Search results different from the website"
Hello,

We're having some issues with the search result for specific keywords. When queried for "digital marketing", for example, the returned images are completely different from the website result or the keywords context.
I've tried to replace its space for "-", "+", "_", but the result set was the same.

Is there any parameter that I can send to get the result set like if I was searching in the

[2019-11-21 22:01] aaronklaassen commented on #103
@th4deu That's strange; they should match. It's feasible that there would be small (and temporary) differences due to caching on the API side, but they shouldn't be *completely* different. Do you mind giving a list of the first, say 5 or 10 photo IDs that you're getting and a code sample so I can reproduce?

[2019-11-22 14:06] th4deu commented on #103
Sup @aaronklaassen, here's a list of the first 10 returned Ids and previews returned for "Digital Marketing" search:
`[{
"unsplash_id": "ZSz1m4JPDqU",
"preview_url": "https://images.unsplash.com/photo-1530046614490-89e6f776b83b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjc2Nzg1fQ"
},
{
"unsplash_id": "5VcSuWePr8Q",
"preview_url": "https://images.unsplash.co

[2020-03-18 12:49] goodwin74 opened #104 "What about query caching?"
Does the library have a query caching implementation, as required to meet limits?

[2020-03-18 20:44] aaronklaassen commented on #104
No, it does not. Though you're welcome to implement a response cache in your client application.

[2020-03-18 20:44] #104 closed

[2020-03-18 22:05] goodwin74 commented on #104
Is there at least approximately a solution to this issue? How can I implement a cache on the client to reduce the number of API requests?
After all, each search query is almost unique due to different words and declensions :(
And the effect of caching will be practically zero, since there will be very few identical requests.

Help, please, how to be?

[2020-03-19 00:40] lukechesser commented on #104
It can be implemented in a lot of different ways and isn't something specific to the job of the API client to do

[2020-03-19 02:40] goodwin74 commented on #104
However, I haven’t found a ready-made solution anywhere, given the search query, where each request is unique and essentially requires processing the request in order to combine similar queries into one. Otherwise, caching will simply be useless, due to synonyms and declensions of words, and as a result, almost 99% of the uniqueness of each request.
It would be nice to get such a solution from Uns

[2020-03-27 08:44] geskeitaloricardo opened #105 "Is Crew\Unsplash\Photo::create($file_path) still supported?"
I'm trying to upload an image from my laravel app! But I get the following error:

I have set 'write_photos'! So, probably I have the permissions!
I can use the others endpoints! This is the only one I can't!

[2020-03-27 14:38] lukechesser commented on #105
Ah no, unfortunately that was removed from the API due to legal reasons out of our control. Sorry about that.

I'll remove the method and create a new release

[2020-06-04 20:08] #105 closed

[2020-06-04 20:08] #95 closed

[2020-06-04 20:09] #103 closed

[2020-07-08 12:43] pmochine opened #109 "Update guzzle to ^7.0"
Thanks :)

[2020-07-09 03:06] #109 closed

[2020-09-09 11:49] SiroDiaz commented on #109
For upgrading to Laravel 8.x it is required to have installed guzzle ^7.0.1 so i recommend to open this issue again. Thanks.

[2020-09-10 20:25] lukechesser commented on #109
@seojtix if someone wants to open a PR we'll merge it, but this isn't an actual issue, it's more of a feature requirement specific to one version of one framework

[2020-11-10 13:00] pmochine commented on #109
@lukechesser Could you please bump up the release tag? It's still set to 2.4.2
Thank you :)

[2021-08-27 03:28] nemuki opened #119 "Are there any plans to add a proxy option to this?"
Hi

## Problems
My school has a proxy server, and when I try to use this library there, I get the following error.
[code]
In the `.bashrc`, I have written `http_proxy` and `https_proxy`, and when I access the API with cURL in the CLI, I can access it successfully.

## Solved method
I was able to solve this problem by adding a proxy option to `__construct()` in `HttpClient.php`, referring to the [G

[2021-10-26 14:47] b-tte opened #120 "Cannot search only within collection"
I'm trying to figure out how to search my personal collection for images, and only return results within my collection.  However, I keep getting images that I definitely don't have within my collection.  My collection ID is _3ibhbq0WTE.

![image](https://user-images.githubusercontent.com/71084669/138903696-37c10533-146f-4746-b201-d03369f027b1.png)

[2021-12-30 18:42] stayallive opened #122 "Auto update Packagist"
Hi all! It looks like this package is not being auto-updated on Packagist:

I'm sure it will eventually pickup the new release but it would be nice to have that be in sync with the release on GitHub so we can start pulling in that new goodness ASAP!

Documentation from Packagist: https://packagist.org/about#how-to-update-packages

[2022-04-06 11:39] petewalker opened #125 "Deprecation warning - `Photo::all` causes a deprecation warning in PHP 8.1"
When calling `Photo::all` in PHP 8.1, it's triggering a tonne of deprecation warnings when adding `utm` query parameters to links returned in the images that resolve to `null`:

[code]

[2022-04-11 18:52] #125 closed

[2022-08-16 14:40] HughDuggan opened #131 "When will a PHP 8.1 release be made?"
Hi,

I note that there is already a fix for a PHP 8.1 incompatibility and it was merged to 'master' in April 2022 [https://github.com/unsplash/unsplash-php/commit/ae77fb8f9c5845579883853b5b7ad08a8654abf1].  But the last general release (3.2.1) was in January 2022.

Are there any timescales for a new release (3.2.2?) which will include this fix and will therefore work better on PHP 8.1?

[2022-09-06 00:00] Robertkeli commented on #131
Asking the same question as well, trying to use the package with PHP 8.1 is proving to be problematic due to the incessant deprecation warnings.